<script src="https://giscus.app/client.js"
        data-repo="coffeeinoffice/coffeeinoffice.github.io"
        data-repo-id="R_kgDOQD6MEw"
        data-category="Announcements"
        data-category-id="DIC_kwDOQD6ME84CxELJ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>