<!DOCTYPE html>
<html lang="en">
    
 {% include header.html %}
 
   <div class="container">
      <div class="masterhead">
        
        <h3 class="masterhead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          
        </h3>
        
         
    <img src="{{ site.baseurl }}/assets/styles/icon_32x32.png" width="32px" height="32px">

      </div>
      <!--
      <nav class="main-nav">

      <ul class="item">

        {% for page in site.pages limit:3 %}
          <li class="items">

          <a href="{{ page.url }}" class="brand">{{ page.title }}</a>

        </li>
        {% endfor %}

      </ul>

    </nav>-->

 <div class="container content">
   
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="coffeeinoffice" data-description="Support me on Buy me a coffee!" data-message="You want to support this blog, buy me a coffee!" data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>
    </div>
</body>
</html>